.client-row__address {
    padding: 1px 10px;
}

.client-list {
    font-size: .8em;
    color: #444;
}

.client-row:nth-child(odd) {
    background-color: #eee;
}

.client-list__header {
    font-weight: bold;
}

